/*
CSS For Addon Pages
*/
/* 
    Created on : 25.06.2017, 20:55:45
    Author     : snareoj
*/

body {
    /* Needed for ScrollSpy  */
    position:relative;
    /* background-color:#fbfbfb; */
    /* Navbar is fluid => */
    padding-top: 55px; 
}

.customContainer {
}

#topMenu {
}

.c-navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.c-navbar-fixed-bottom, .c-navbar-fixed-top {
    border-radius: 0;
}
.c-navbar-fixed-bottom, .c-navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.c-navbar-nav {
    float: left;
    margin: 0;
}

.c-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.c-navbar-nav > li {
    float: left;
}
.c-nav > li {
    position: relative;
    display: block;
}
.c-navbar, .c-navbar.c-navbar-default {
    background-color: #009688;
    color: rgba(255,255,255,.84);
}
.c-navbar {
    background-color: #009688;
    border: 0;
    border-radius: 0;
    min-height: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.c-navbar .c-navbar-nav > .active > a, .c-navbar .c-navbar-nav > .active > a:focus, .c-navbar .c-navbar-nav > .active > a:hover {
    color: inherit;
    background-color: rgba(255,255,255,.1);
}
.c-navbar .c-navbar-nav > li > a {
    color: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}
.c-navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.c-navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.c-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
        padding-top: 10px;
        padding-bottom: 10px;
}

#topMenu .container-fluid {
}

.affix, .affix-bottom {
    width: 263px;
}
.affix {
    position: fixed;
    top: 20px;
}
.c-nav .c-nav li {
    padding:2px;
    font-size:10px;
}
.c-nav .c-nav li.active a {
    background:#269abc;
    color: #fff;
}
.c-nav .c-nav li.active a {
    color: #fff;
}
.c-nav .c-nav li a {
    padding:2px 2px 2px 20px;
}

#modalWindow .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; 
}

#modalWindow .info {
   color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
} 

#modalWindow .warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;  
}

#modalWindow .danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;    
}

.bookmarkList {
    display:inline-block;
}

.bookmarkList .containerNODE{
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);   
}

.bmItem {
    padding-top:4px;
}
.bmItem .media {
    margin-top:0px;
}
.selected .bmItem {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#acf9ee+0,acf9ee+35,ffffff+100&1+0,1+34,0+35,0+100 */
    background: #dadada;
}

.bmSmall {
    border-bottom: 1px solid lightgray;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

 .bmBig img {    
    padding: 5px;
    width: 150px;
}

 .bmBig img:hover {
   
}

.tagList {
    display:inline-block;
}

.tagList .tag {
    margin: 1px;    
    float: left;    
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);    
}

.tagList .alphabet {
    color: #003569;
    float: left;
    font-size: 75%;
    margin: 0px 2px 0px 8px;
    text-align: right;
    vertical-align: bottom;
    background-color: transparent;
    cursor:auto;
    margin: 1px;    
}

.tagList .tag.avail {
    
}

.tagList .tag.notAvail {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;    
    margin-left: 0px;
    margin-right: 0px;
    visibility: hidden;
} 

.tagInput {
    clear:both;
    padding: 10px 0px;
}

.tagList .marked {
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.actionButtons {
    display:table;
} 
.actionButtons .searchPanel {
    display: table-cell;
    width: 100%;
} 

.actionButtons #actions {
    display: table-cell;
} 

#sortDropdown {
    display:inline-block;
}

#customTopsites .bookmarkhint {
    cursor:pointer;
}

.hitListCounter  {
   counter-reset: hit-list-counter;
}
.hitListCounter li:before {
content: counter(hit-list-counter);
    counter-increment: hit-list-counter;
    position: relative;
    left: 0;
    top: 0;
    font-size: 1em;
    font-weight: lighter;
    color: #949494;
    width: 30px;
    display: inline-block;
    height: 100%;
    /* text-align: right; */
    padding-right: 2px;
}

.list-group-item.topsiteItem {
    padding:5px;    
}
.list-group-item.topsiteItem a {
    margin-left:32px;
}
.topsiteItem {
    margin-bottom:3px;
}
.topsiteItem span.label {
    margin-right:3px;
}
.topsiteItem .labels {
    display:inline-block;
    width:40px;
}

.historyItem {
    text-decoration: underline;
    cursor:pointer;
    background:#1b6d85;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: content-box;
    color:#fff;
    margin-bottom: 10px;
    padding: 5px;
    color: #fff;
}
.historyItem:hover {
    background:#05546b;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);    
}
#dateMenu {
    margin:10px 0px;
}
#datepicker .day {
    cursor:pointer;    
}
#datepicker .active {    
    background:#1b6d85;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: content-box;
    color: #fff;
}

.metaProperties .metaPropertyName {
    width: 200px;      
}