/*
CSS STyle for embedded Menu
*/
/* 
    Created on : 25.06.2017, 08:46:11
    Author     : snareoj
*/

.ioSnaresBookmark_chrome .ioSnaresBookmark_icon {
    background-image:url('chrome-extension://__MSG_@@extension_id__/icons/icon_sprite.png');
    background-size: auto auto !important;
}

.ioSnaresBookmark_browser .ioSnaresBookmark_icon  {
    background-image:url('moz-extension://__MSG_@@extension_id__/icons/icon_sprite.png');
    background-size: auto auto !important;
}

.ioSnaresBookmark_icon {
    display:inline-block;
    height:22px;
    width: 32px; 
    cursor:pointer;
    background-repeat: no-repeat;    
}

.ioSnaresBookmark_icon.ioSnaresBookmark_nobookmark, .ioSnaresBookmark_icon.ioSnaresBookmark_nobookmark:active, .ioSnaresBookmark_icon.ioSnaresBookmark_nobookmark:focus {
    background-position: 0 0;
}
.ioSnaresBookmark_icon.ioSnaresBookmark_bookmarked, .ioSnaresBookmark_icon.ioSnaresBookmark_bookmarked:active, .ioSnaresBookmark_icon.ioSnaresBookmark_bookmarked:focus {
    background-position: 0 -50px;
}
.ioSnaresBookmark_icon.ioSnaresBookmark_bookmarked:hover, .ioSnaresBookmark_icon.ioSnaresBookmark_nobookmark:hover {
    background-position: 0 -100px;
}
.ioSnaresBookmark_icon.ioSnaresBookmark_editBookmark {
    background-position: -150px -50px;
}
.ioSnaresBookmark_icon.ioSnaresBookmark_editTags {
    background-position: -150px -100px;
}
.ioSnaresBookmark_icon.ioSnaresBookmark_addBookmark {
    background-position: 0px -50px;
}
.ioSnaresBookmark_icon.ioSnaresBookmark_removeBookmark {
    background-position: -150px -150px;
}
.ioSnaresBookmark_icon.ioSnaresBookmark_listBookmarks {
    background-position: -50px -50px;
}
.ioSnaresBookmark_icon.ioSnaresBookmark_listBookmarks:hover {
    background-position: -50px -100px;
}
.ioSnaresBookmark_icon.ioSnaresBookmark_importJSONFile {
    background-position: -200px 0px;
}

#ioSnaresBookmark_menu {
    z-index:9999999;
    
    /*
    
    position: fixed;
    bottom: 110px;
    right: 0;
    height: auto;
    padding-bottom: 100px;
    width: 30px;
    
    background-color: gray;  
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px 0px 0px 10px; */
}

#ioSnaresBookmark_menuBtns {
    height:48px;
    width:32px; 
    position:absolute; 
    right: 4px; 
    top: 0px;    
    height: 60px;
   /* background: #1b5363; */
}

#ioSnaresBookmark_menu #ioSnaresBookmark_bookmarkBtn { 
}

#ioSnaresBookmark_menu #ioSnaresBookmark_listBookmarksBtn {    
}

#ioSnaresBookmark_menu {
    font-family: Arial, Helvetica, Verdana, sans-serif;    
}

#ioSnaresBookmark_menuBtns .ioSnaresBookmark_icon {
    height:32px;
}

#ioSnaresBookmark_tagMenu {
    width:100%;
    /* height:100%; */
    position:fixed;
    right:0px;
    bottom: 150px;
    font-family: Arial, Helvetica, Verdana, sans-serif;    
    font-size:13px;
    z-index:9999999;
}

#ioSnaresBookmark_close {
    display: inline-block;
    position: absolute;
    background-color: rgb(15, 72, 88);  
    color:#fff;
    right:0px;
    font-family:Arial, "Roboto", "Source Sans Pro", sans-serif; 
    line-height: 24px;
    font-size: 12px;
}

.ioSnaresBookmark_tagList {
    position: relative;
    display: inline-block;
    float: right;
    background-color: #fff;
    margin: 20px 4px 4px 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ioSnaresBookmark_tag {
    display:inline-block;
    float:left;
    padding:5px;
    background-color:#5cb85c;
    margin:5px;
    cursor:pointer;
}

.ioSnaresBookmark_tag.ioSnaresBookmark_selected {
    background-color: lightgreen;
    color: black;
}  

#ioSnaresBookmark_tap {
    height:200px;
    width:250px; 
    position:absolute; 
    right: -250px; 
    top: -50px;
}
#ioSnaresBookmark_tap.ioSnaresBookmark_visible {
    right:0px;
}
#ioSnaresBookmark_tap > span.ioSnaresBookmark_btn {
    display:block;
    background:#1b6d85;
    color:#fff;
    padding: 5px;
    margin:2px;
    text-align: left;
    vertical-align: middle;
    height: 24px;
    cursor:pointer;
    font-family:Arial, "Roboto", "Source Sans Pro", sans-serif; 
    line-height: 24px;
    font-size: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: content-box;
}
#ioSnaresBookmark_toggleBoomkark {    
}

#ioSnaresBookmark_showMenu {    
}

#ioSnaresBookmark_tap .active {
    font-weight: bold;
    background:lightpink;
}

#ioSnaresBookmark_tap .ioSnaresBookmark_tagList {
    float:none;
    margin: 5px;
}
 
.snares-io-menu {
    position:fixed;
    bottom:50px;   
    right:0px; 
    height: 425px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1); 
    overflow:visible;
    position:fixed;
    font-family: Arial, Helvetica, Verdana, sans-serif;    
    font-size:13px;
}

.snares-io-menu * {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

.snares-io-outside {
    width:0px;
}

.snares-io-inside {              
    /*width:400px;*/
    width:200px;
}

.snares-io-menu .snares-io-minimal{                
    position:relative;
    width: 0px;
    height:50px;
    left:0px;
    top:250px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);   
}

.snares-io-menu .snares-io-fadeInButton {
    position:relative;
    border-radius: 999em;
    width: 46px;
    height:46px;
    bottom:5px;
    left:-55px;
    background:#007575;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);   
    opacity:0.5;
}

.snares-io-menu .snares-io-fadeInButton.snares-io-hovered {
    background:#fff;
}
.snares-io-menu .snares-io-fade-icon {
    font-size: 42px;
    color: #fff;
    height: 100%;
    margin-top: 2px;
}

.snares-io-menu  .snares-io-fadeInButton.snares-io-hovered .snares-io-fade-icon {
    color:#007575;
}

.snares-io-menu.snares-io-inside .snares-io-fadeInButton {
    opacity:1;    
}

.snares-io-menu.bookmarked .snares-io-fade-icon,
.snares-io-menu.bookmarked .snares-io-hovered .snares-io-fade-icon {
    color:#fff;
}
.snares-io-menu.bookmarked .snares-io-fadeInButton {
    background: rgb(255, 182, 0);
}    
.snares-io-menu.bookmarked .snares-io-fadeInButton.snares-io-hovered {
    background: #ffd900;
}
.snares-io-menu .snares-io-maximal{                
    position:relative;
    /* width: 300px; */
    width: 65px; 
    height:450px;
    background:#c90b81;
    left:50px;
    top:-50px;
}

.snares-io-menu.snares-io-outside .snares-io-row-container {
    display:none;                
}

.snares-io-menu.snares-io-inside .snares-io-row-container {
    display:initial;                
}

.snares-io-header {
    height:46px;
    padding:4px;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    /* line-height: 30px; */
    line-height: 46px;
    color: #fff;
    /* background:#fff; */
    background: lightgray;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-align: center;
}       

.snares-io-content {
    
}

.snares-io-btn-container {
    /* float:left; */
    position: relative;
    width: 76px;
    height: 76px;
    margin:12px;
}

.snares-io-btn-container.snares-io-invisible{
    display:none!important;
}

.snares-io-btn-container.snares-io-hovered {
}

/** ' Real Buttons ' **/

.snares-io-btn-container.snares-io-disabled .snares-io-btn-round, .snares-io-btn-container.snares-io-hovered.snares-io-disabled .snares-io-btn-round {
    color: darkgray;
    background: lightgray;
    cursor: default;
}

.snares-io-btn-container .snares-io-desc {
    margin-left: 54px;
    /*display: inline-block; */
    display: none; 
    height: 42px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    margin-top: 13px;    
    white-space: normal;
    text-align: left;
}

.snares-io-btn {
    display: inline-block;
    background:#80c371 none;
    background-image:none;
    border: none;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);   
    cursor: pointer;
}

.snares-io-invisible .snares-io-btn{
    display:none;
}

.snares-io-circles .snares-io-btn-round {
    border-radius: 999em;
    position: relative;
    width: 76px;
    height: 76px;
    line-height: 1;
    font-size: 16px; 
    cursor: pointer;
    /* background-color: #d23f31; */
    background-color: #007575;    
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.snares-io-circles .snares-io-hovered .snares-io-btn-round{
    background:#fff;
}
.snares-io-circles .snares-io-btn1 {    
    position: absolute;
    left: 220px;
    top: 80px;
}
.snares-io-circles .snares-io-btn2 {    
    position: absolute;
    left: 130px;
    top: 130px;
}
.snares-io-circles .snares-io-btn3 {    
    position: absolute;
    left: 100px;
    top: 220px;
}
.snares-io-circles .snares-io-btn4 {    
    position: absolute;
    left: 120px;
    top: 310px;
}
.snares-io-circles .snares-io-btn5 {    
    position: absolute;
    left: 250px;
    top: 210px;
}
.snares-io-circles .snares-io-btn6 {    
    position: absolute;
    left: 220px;
    top: 80px;
}
.snares-io-circles .snares-io-btn .snares-io-menu-icon {
    color:#fff;
    font-size:56px;
    position: absolute;
    left: 0;
    top: 38px;
    height: 76px;
    width: 100%;
    text-align: center;    
    margin-top: -28px;
}
.snares-io-circles .snares-io-hovered .snares-io-btn .snares-io-menu-icon {
    color:#000;
}
.snares-io-squares #snares-io-menuTitle {
    display:none;
}

.snares-io-squares .snares-io-content {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;
    background: #fbfbfb;
    display: block;
    height: 100%;
    /* width: 400px; */
    width: 145px;
    /* position: absolute; */
    left: 0;
    right: 0px;
}

.snares-io-squares .snares-io-btn-container {
    float:left;
    /* width:150px; */
    width:65px;
    height: 65px;
    margin:5px 0px 0px 5px;
    display:inline-block;
}

.snares-io-squares .snares-io-btn-round {
    position: relative;
    /* width:140px; */
    width:55px;
    height: 55px;
    left:5px;
    top:5px;
    line-height: 1;
    font-size: 16px; 
    cursor: pointer;
    /* background-color: #d23f31; */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background:#80c371 none;
    background-image:none;
    border: none;
    padding: 0px;
}

.snares-io-squares .snares-io-menu-icon {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 35px;
    height: 65px;
    width: 100%;
    text-align: left;    
    margin-top: -32px;
    opacity: 0.7;
}
.snares-io-squares .snares-io-btn-round {
    background-color: #007575;
    color:#fff;
}
.snares-io-squares .snares-io-hovered .snares-io-btn-round {
    background:#fff;
    color:#007575;
}
.snares-io-squares .snares-io-disabled .snares-io-btn-round ,
    .snares-io-squares .snares-io-disabled.snares-io-hovered .snares-io-btn-round {
    background:#fff;
    color:lightgray;
}
.snares-io-squares .snares-io-hovered .snares-io-btn .snares-io-menu-icon {
   /* color:#007575; */
}