/*
Default Bookmarks CSS
*/
/* 
    Created on : 24.07.2017, 15:14:30
    Author     : snareoj
*/


.bookmarkList {
    display:inline-block;
}

.bookmarkList .containerNODE{
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);   
}

.bookmark-item {
    padding-top:4px;
}

.bookmark-item .media {
    margin-top:0px;
}

.selected .bookmark-small {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#acf9ee+0,acf9ee+35,ffffff+100&1+0,1+34,0+35,0+100 */
    background: #dadada;
}

.bookmark-small {
    border-bottom: 1px solid lightgray;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.bookmark-big .media-left {
    min-width: 155px;
}

.bookmark-big img {    
    max-width: 150px;
    padding-right: 5px;
    padding-bottom: 5px;
    float:right;
}

.tagList {
    display:inline-block;
}

.tagList .tag {
    margin: 1px;    
    float: left;    
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);    
}

.tagList .alphabet {
    color: #003569;
    float: left;
    font-size: 75%;
    margin: 0px 2px 0px 8px;
    text-align: right;
    vertical-align: bottom;
    background-color: transparent;
    cursor:auto;
    margin: 1px;    
}

.tagList .tag.avail {
    
}

.tagList .tag.notAvail {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;    
    margin-left: 0px;
    margin-right: 0px;
    visibility: hidden;
} 

.tagList .marked {
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.dates .label {
    margin-right: 5px;
}

.actionButtons {
    display:table;
} 
.actionButtons .searchPanel {
    display: table-cell;
    width: 100%;
} 

.actionButtons #actions {
    display: table-cell;
} 
.previewImg {
     max-width: 150px;
}