/*
CSS For Addon Pages
*/

.containerNODE {
    padding:20px;
}

.containerNODE .actions {
    display:none;
}
.containerNODE.well .actions {
    display:inherit;
}

.bookmark-item .media-body {
    background: url('/icons/swipe.png') no-repeat top right;
}

.well .bookmark-item .media-body  {
    background-image:none;
}