/*
CSS For Addon Pages
*/

.historyItem {
    text-decoration: underline;
    cursor:pointer;
    background:#1b6d85;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: content-box;
    color:#fff;
    margin-bottom: 10px;
    padding: 5px;
    color: #fff;
}
.historyItem:hover {
    background:#05546b;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);    
}