/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.07.2017, 11:26:14
    Author     : snareoj
*/

h1, h2 {
    vertical-align: middle;
}

h1 span.glyphicon, h2 span.glyphicon {
    margin-right:5px;
}