/*
CSS For Addon Pages
*/

#customTopsites .bookmarkhint {
    cursor:pointer;
}

.hitListCounter  {
   counter-reset: hit-list-counter;
}
.hitListCounter li:before {
content: counter(hit-list-counter);
    counter-increment: hit-list-counter;
    position: relative;
    left: 0;
    top: 0;
    font-size: 1em;
    font-weight: lighter;
    color: #949494;
    width: 30px;
    display: inline-block;
    height: 100%;
    /* text-align: right; */
    padding-right: 2px;
}

.list-group-item.topsiteItem {
    padding:5px;    
}
.list-group-item.topsiteItem a {
    margin-left:32px;
}
.topsiteItem {
    margin-bottom:3px;
}
.topsiteItem span.label {
    margin-right:3px;
}
.topsiteItem .labels {
    display:inline-block;
    width:40px;
}