<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bookmarks: Home</title>

        <!-- Bootstrap -->
        <link href="/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="/icons/roboto.css">
        <link rel="stylesheet" type="text/css" href="/icons/icon.css">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/ripples.min.css">
        
        <link href="/vendor/humane/flatty.css" rel="stylesheet">
        <link href="/lib/generic.css" rel="stylesheet">
<!-- https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Content_Security_Policy -->
  </head>
     <body data-spy="scroll" data-target="#menu">
        <div class="container-fluid customContainer">    
           
                <div class="panel panel-default" id="syncPanel">
                    <div class="panel-heading">
                        <h3 class="panel-title">About</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                           Homepage: <a href="https://gitlab.com/snareoj/bmaddon" target="_blank">https://gitlab.com/snareoj/bmaddon</a>
                        </p>
                        <p>
                            Used Licenses/Libraries:
                        </p>
                        <pre>                            
abbrev (1.1.0) ── ISC License (http://www.isc.org/software/license, http://www.opensource.org/licenses/ISC) ── node_modules/abbrev/package.json
blueimp-md5 (2.7.0) ── MIT License (http://www.opensource.org/licenses/MIT) ── node_modules/blueimp-md5/package.json
bookmarks (1.0.3) ── Apache License 2.0 (http://www.apache.org/licenses/LICENSE-2.0, http://www.opensource.org/licenses/Apache-2.0) ── package.json
bootstrap-material-design (0.5.10) ── MIT License (http://www.opensource.org/licenses/MIT) ── node_modules/bootstrap-material-design/package.json
bootstrap (3.3.7) ── MIT License (http://www.opensource.org/licenses/MIT) ── node_modules/bootstrap/package.json
colors (1.1.2) ── MIT License (http://www.opensource.org/licenses/MIT) ── node_modules/colors/package.json
javascript-natural-sort (0.7.1) ── MIT License (http://www.opensource.org/licenses/MIT) ── node_modules/javascript-natural-sort/package.json
jquery (3.2.1) ── MIT License (http://www.opensource.org/licenses/MIT) ── node_modules/jquery/package.json
licensecheck (1.3.0) ── zlib License (http://www.zlib.net/zlib_license.html, http://www.opensource.org/licenses/Zlib) ── node_modules/licensecheck/package.json
markdown (0.5.0) ── MIT (http://www.opensource.org/licenses/mit-license.php) ── node_modules/markdown/package.json
nopt (2.1.2) ── MIT (https://github.com/isaacs/nopt/raw/master/LICENSE) ── node_modules/markdown ~ nopt/package.json
notifyjs (3.0.0) ── MIT License (http://www.opensource.org/licenses/MIT) ── node_modules/notifyjs/package.json
spdx-license-list (2.1.0) ── MIT License (http://www.opensource.org/licenses/MIT) ── node_modules/spdx-license-list/package.json
strip-json-comments (2.0.1) ── MIT License (http://www.opensource.org/licenses/MIT) ── node_modules/strip-json-comments/package.json
treeify (1.0.1) ── MIT (http://lp.mit-license.org/) ── node_modules/treeify/package.json
webextension-polyfill (0.1.1) ── Mozilla Public License 2.0 (http://www.mozilla.org/MPL/2.0/, http://opensource.org/licenses/MPL-2.0) ── node_modules/webextension-polyfill/package.json
                        </pre>
                    </div>
                </div>
            
        </div><!-- /.container -->
    </body>
</html>