<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bookmarks: Edit</title>

        <!-- From HAMMER -->
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- Bootstrap -->
        <link href="/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="/icons/roboto.css">
        <link rel="stylesheet" type="text/css" href="/icons/icon.css">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/ripples.min.css">

        <link href="/vendor/humane/flatty.css" rel="stylesheet">
        
        <link href="/lib/generic.css" rel="stylesheet">
        <link href="/lib/css/bookmarks.css" rel="stylesheet">
        <link href="/lib/css/bookmark_edit.css" rel="stylesheet">
        
    </head>
     <body data-spy="scroll" data-target="#menu">
        <div class="container-fluid customContainer">      
            <div class="panel panel-default">
                <div class="panel-body"   id="editBookmark">
                </div>
            </div>

            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"  data-i18n="edit_sitemeta_panel">Site meta</h3>
                    </div>
                <div class="panel-body"   id="metaData">
                </div>
            </div>
        </div><!-- /.container -->
    </body>
</html>

