<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bookmarks: FileImport</title>

        <!-- Bootstrap -->
        <link href="/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
       
        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="/icons/roboto.css">
        <link rel="stylesheet" type="text/css" href="/icons/icon.css">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/ripples.min.css">

        <link href="/vendor/humane/flatty.css" rel="stylesheet">
        <link href="/lib/generic.css" rel="stylesheet">
<!-- https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Content_Security_Policy -->
  </head>
     <body data-spy="scroll" data-target="#menu">
        <div class="customContainer">            
            <div class="row">
                <div class="col-md-12"  id="fileImport">
                    <p> 
                        Searches the download folder for files with ending ".bookmarks.json". Those can be opened in a tab and then imported via the menu on the bottom of the page.
                    </p>
                    <ul id="filesList">
                        
                    </ul>
                    <p>
                    <button id="btnsearch" class="btn btn-default">Refresh Filelist</button>
                    </p>
                    <p id="message" style="max-height:400px;"></p>                    
                </div>
            </div>
        </div><!-- /.container -->

        <!-- 
        <p>
        <b>Current permissions returned by the API:</b>
        <span id="permissions"></span>
</p> -->  
    </body>
</html>