<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bookmarks: Home</title>

        <!-- Bootstrap -->
        <link href="/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="/icons/roboto.css">
        <link rel="stylesheet" type="text/css" href="/icons/icon.css">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/ripples.min.css">
        
        <link href="/vendor/humane/flatty.css" rel="stylesheet">
        <link href="/lib/generic.css" rel="stylesheet">
        <link href="/lib/css/home.css" rel="stylesheet">
<!-- https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Content_Security_Policy -->
  </head>
     <body>
        <div class="row-container customContainer">          
            <!-- Jumbotron -->
            <div class="jumbotron">
              <h1><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Bookmarklist</h1>
              <p class="lead">Sort, list, edit your bookmarks. Swipe left or click "open" to open a bookmark. Swipe right or click "edit" to add and remove tags from a bookmark.</p>
              <p><a class="btn btn-lg btn-success" href="#" data-cmd="nav.listBookmarks" role="button">Open Bookmarks »</a></p>
            </div>

            <!-- Row -->
            <div class="row">
              <div class="col-lg-4">
                <h2><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Topsites</h2>
                <p>If your browser supports Topsites, it first shows the browsers own topsites. Below you'll find your topsites tracked by this addon.</p>
                <p><a class="btn btn-primary" href="#" data-cmd="nav.openTopsites" role="button">View Topsites »</a></p>
              </div>
              <div class="col-lg-4">
                <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> History</h2>
                <p>The addon tracks the pages you opened. Search your history by Date and never loose an url again!</p>
                <p><a class="btn btn-primary" href="#" data-cmd="nav.openHistory"  role="button">View History »</a></p>
             </div>
              <div class="col-lg-4">
                <h2><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Sync</h2>
                <p>If you selected a sync option in Options, here you can sync your bookmarks across your other browsers, pcs, tables and smartphones.</p>
                <p><a class="btn btn-primary" href="#" data-cmd="nav.sync" role="button">View Sync »</a></p>
              </div>
            </div>

            <!-- Row -->
            <div class="row">
              <div class="col-lg-4">
                <h2><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Options</h2>
                <p>Settings of the bookmark, like liststyles. Add your Sync Account here to start syncing your bookmarks!</p>
                <p><a class="btn btn-primary" href="#" data-cmd="nav.openOptions" role="button">View Options »</a></p>
              </div>
              <div class="col-lg-4">
                <h2><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import Local</h2>
                <p>Import your in this browser added local bookmarks. You can even test if the bookmark is still valid. Import only selected bookmarks or everything.
                Your Folderstructure will be the inital tags at a bookmark.
                </p>
                <p><a class="btn btn-primary" href="#" data-cmd="nav.openImporter" role="button">View Import Local »</a></p>
             </div>
              <div class="col-lg-4">
                <h2><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Import/Export JSON</h2>
                <p>Import bookmarks from a json string made by this addon. Export the bookmarks from this addon as JSON string and save it where you want and import it again on this page.</p>
                <p><a class="btn btn-primary" href="#" data-cmd="nav.openJSONImportAndExport"  role="button">View Import/Export JSON »</a></p>
              </div>
            </div>
            <!-- Site footer -->
            <footer class="footer">
                <p>© snares.io 2017 <a href="#"  data-cmd="nav.about"  >(about)</a></p>
            </footer>
        </div><!-- /.container -->
    </body>
</html>