<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link href="/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <title>Bookmarks: Options</title>

        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="/icons/roboto.css">
        <link rel="stylesheet" type="text/css" href="/icons/icon.css">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/ripples.min.css">

        <link href="/vendor/humane/flatty.css" rel="stylesheet">
        <link href="/lib/generic.css" rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target="#menu">
        <div class="container-fluid customContainer" id="options">  
            <form id="optionsForm">
                <div class="panel panel-default" id="commonSettings">
                    <div class="panel-heading">
                        <h3 class="panel-title">Common Settings</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="bookmarkList.listOfStartPage">Style of bookmark list: <i>big</i> or <i>small</i></label>
                            <input type="text" class="form-control" data-setting="bookmarkList.listOfStartPage"  id="bookmarkList.listOfStartPage" placeholder="big" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="persistence">
                    <div class="panel-heading">
                        <h3 class="panel-title">External persistence</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="persistencetype" id="none" value="none" checked>
                            None
                          </label>
                        </div>
                        <div id="webdav">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="persistencetype" id="webdav" value="webdav" checked>
                                    WebDAV (<a href="https://en.wikipedia.org/wiki/Webdav" target="_blank">?</a>)
                                </label>
                            </div>
                            <span data-i18n="options_webdav_desc">
                                <p>
                                    This acts as normal webdav client. Go to your WebDav server (nextcloud, freemail etc.) and create a folder.
                                    Enter the URL with folder into the URL field.
                                </p>
                                <p>
                                    Webdav URL  and filename should be the full URL to the correct file.
                                    If url is 'https://webdav.url' and the filename is '/.bookmarks/myFile.json' the complete URL is:
                                    'https://webdav.url/.bookmarks/myFile.json' which is correct.(Recognize the slashes!)
                                </p>
                                <p> With the <b>TEST</b> button you can test if the URL is reachable.</p>
                                <p> With the <b>UPLOAD</b> button you OVERRIDE the saved Bookmarks at the SERVER</p>
                                <p> With the <b>DOWNLOAD</b> button you download the Bookmarksfile from the Server and IMPORT it to this addon.
                                    Existing Bookmarks will be <b>OVERRIDEN</b>.</p>

                                <p>Example freemail: </p>
                                <ul>
                                    <li>Create a folder ".bookmarks" in the root directory</li>                                        
                                    <li>Sample URL:
                                        <pre>https://webdav.smartdrive.web.de/.bookmarks</pre></li>
                                    <li>Fill your default freemail user and password into user and pw.</li>                                        
                                </ul>  
                                <p>
                                    Hints for nextcloud  / owncloud users:
                                </p>
                                <ul>
                                    <li>Example URL:
                                        <pre>https://cloud.myserver.org/remote.php/webdav</pre>  </li>
                                    <li>Make shure that there is no COOKIE set from that page! If there are cookies, the WEB-DAV with nextcloud wont work. 
                                        (Does only belong to nextcloud, they have a quirk in their CORS implementation)
                                    </li>
                                    <li>
                                        You can use a "App Pin": Log into your nextcloud, go to "personal" Settings -> App PIN.<br/>
                                        Create a new App PIN for this Addon Installation and use the username and password provided there.</li>
                                </ul>
                            </span>
                            <div class="form-group">
                                <label for="webdav_url" data-i18n="options_webdav_url_label">DAV Url, like 
                                    <span style="font-family:monospace;">https://cloud.myserver.org/remote.php/webdav</span>                              
                                </label>
                                <input type="text" class="form-control" id="webdav_url" data-setting="webdav_url"  placeholder="https://cloud.myserver.org/remote.php/webdav" />
                            </div>

                            <div class="form-group">
                                <label for="webdav_filename" data-i18n="options_webdav_filename_label"> Filename</label>
                                <input type="text" class="form-control" id="webdav_filename" data-setting="webdav_filename"  placeholder="filename" />
                            </div>

                            <div class="form-group">
                                <label for="webdav_user" data-i18n="options_webdav_user_label"> User</label>
                                <input type="text" class="form-control" id="webdav_user" data-setting="webdav_user"  placeholder="username" />
                            </div>

                            <div class="form-group">
                                <label for="webdav_password" data-i18n="options_webdav_password_label"> Password </label>
                                <input type="password" class="form-control" id="webdav_password" data-setting="webdav_password"  placeholder="" />
                            </div>

                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="webdav_autosync" data-setting="webdav_autosync" type="checkbox" value="">
                                <span data-i18n="options_webdav_autosync_label">Autosync if it is detected, that the remote file is newer than last time this addon synced. Happens e.g. if browser is opened the first time.</span>
                              </label>
                            </div>
                            <p>
                                <button class="btn btn-default btn-raised" id="testWebdavClient" data-i18n="options_webdav_testConnection">Test Connection</button>
                                <span id="testResult"></span>
                            </p>
                        </div>   
                    </div>
                </div>
                <div class="panel panel-default" id="savePanel">
                    <div class="panel-body">
                        <button type="submit" id="saveBtn" class="btn btn-primary btn-raised pull-right"  data-i18n="options_savebutton">Save</button>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tools</h3>
                    </div>
                    <div class="panel-body">

                        <p>Tools, only use it if you are knowing what u do:</p>

                        <div class="btn-group btn-group-vertical">
                            <button id="buildTagList" class="btn btn-default btn-raised">Build Taglist</button>
                            <button id="rebuildBookmarkIndex" class="btn btn-default btn-raised">Rebuild Bookmark Index</button>
                            <button id="rebuildHistoryIndex" class="btn btn-default btn-raised">Rebuild History Index</button>
                            <button id="rebuildTopsitesIndex" class="btn btn-default btn-raised">Rebuild Topsites Index</button>
                            <button id="clearStorage" class="btn btn-danger btn-raised">Clear Storage (!)</button>
                        </div>
                    </div>
                </div> 
                <div id="console" style="display:none;"></div>
        </form>  
    </div><!-- /.container -->
</body>

</html>