<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bookmarks: Home</title>

        <!-- Bootstrap -->
        <link href="/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="/icons/roboto.css">
        <link rel="stylesheet" type="text/css" href="/icons/icon.css">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/ripples.min.css">
        
        <link href="/vendor/humane/flatty.css" rel="stylesheet">
        <link href="/lib/generic.css" rel="stylesheet">
<!-- https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Content_Security_Policy -->
  </head>
     <body data-spy="scroll" data-target="#menu">
        <div class="container-fluid customContainer">    
           
                <div class="panel panel-default" id="syncPanel">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-i18n="sync_syncpanel_heading">Syncronizing Bookmarks</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <span  data-i18n="sync_syncpanel_syncactive">See settings for activating syncronisation 
                            (sync_Active: <span data-setting="sync_Active">none</span>)</span>
                        <p>
                            Last Upload: <span data-setting="webdav_lastUploadDate">none</span> <br/>
                            Last Download: <span data-setting="webdav_lastDownloadDate">none</span><br/>
                            Last DBChange <span data-setting="sync_lastDBChange">none</span>  <br/>
                            Last SyncCheck: <span data-setting="webdav_lastSyncCheck">none</span> <br/>
                            Last Sync: <span data-setting="webdav_lastSyncDate">none</span> 
                        </p>
                          <p>   
                            <button class="btn btn-default btn-raised" id="checkSync">Check if Sync Neccessary</button>
                        </p>
                        Remote last Change: <span data-setting="remote">none</span> <br/>
                        <span id="syncCheckResult"></span>
                        <p>
                            <button class="btn btn-default btn-raised" id="uploadBookmarks">Upload Bookmarks</button>
                        </p>
                        <span id="uploadResult"></span>
                        <p>   
                            <button class="btn btn-default btn-raised" id="downloadBookmarks">Download Bookmarks</button>
                        </p>
                        <p>    
                            <span id="downloadResult"></span>
                        </p>
                    </div>
                </div>
            
                <div class="panel panel-default" id="autoSyncPanel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Auto Sync</h3>
                    </div>
                    <div class="panel-body">
                        Auto Syncronisation is active: <span data-setting="autoSyncActive">none</span> <br/>                        
                        Auto Sync is currently triggered: <span data-setting="autoSyncTriggered">none</span> <br/>                        
                        Auto Sync will take place in the next minute: <span data-setting="autoSyncSyncOnNextAlarm">none</span> <br/>
                        <p>
                            Messages from Background Autosync:
                        </p>
                        <p data-setting="sync_autoSync_messages">
                            
                        </p>
                        <p>
                            <button class="btn btn-default btn-raised" id="clearAutoSyncMsgs">Clear AutoSync Messages</button>
                            <button class="btn btn-default btn-raised" id="reload">Reload Information</button>
                        </p>
                    </div>
                </div>
        </div><!-- /.container -->
    </body>
</html>