<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bookmarks: List</title>

        <!-- Bootstrap -->
        <link href="/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="/icons/roboto.css">
        <link rel="stylesheet" type="text/css" href="/icons/icon.css">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/node_modules/bootstrap-material-design/dist/css/ripples.min.css">

        <link href="/vendor/humane/flatty.css" rel="stylesheet">
        <link href="/lib/generic.css" rel="stylesheet">

    </head>
    <body data-spy="scroll" data-target="#menu">
        <div class="container-fluid  customContainer" id="topsites">      
                <div id="defaultTopsites">
                </div>           
                <div id="customTopsites">
                </div>      
        </div><!-- /.container -->
    </body>
</html>